body {
  font-family: serif;
  font-size: 16px;
  line-height: 1;
  background: rgb(
    253,
    254,
    255
  );
  background-image: url("/Assets/skyline.jpeg");
  -webkit-background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  border: none;
}

header {
  background-color: none;
  color: white;
  padding: 10px;
  text-align: center;
  margin-bottom: 15px;
  margin-top: -10px;
  margin-left: -8px;
  margin-right: -8px;
}

.container {
  display: flex;
  margin-top: 30px;
}

.left {
  border: none;
  border-radius: 15px;
  color: white;
  background-color: rgba(
    255,
    255,
    255,
    0.5
  );
  width: 25%;
  padding: 10px;
  margin-left: 40px;
}

.right {
  display: none;
  display: flex;
  flex-direction: column;
  width: 75%;
}

.right-upper {
  width: 85%;
  border: none;
  border-radius: 15px;
  background-color: rgba(
    255,
    255,
    255,
    0.5
  );
  padding: 10px;
  margin-left: 20px;
  margin-right: 10px;
  color: white;
}

.weather-container {
  display: block;
  justify-content: space-around;
  align-items: center;
}

.weather-container-city {
  margin-top: 10px;
  align-items: center;
  text-align: center;
}

.weather-container-left {
  float: left;
  margin-bottom: 20px;
  margin-left: 200px;
  margin-top: 10px;
}

.weather-container-right {
  float: right;
  margin-bottom: 20px;
  margin-right: 200px;
  margin-top: 10px;
}

.right-lower {
  border-radius: 15px;
  padding: 10px;
  border: none;
  margin-top: 15px;
  margin-left: 10px;
  color: white;
  width: 90%;
  background-color: none;
}

.list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0
    rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border: none;
  color: white;
  background-color: rgba(
    86,
    83,
    83,
    0.5
  );
  margin-bottom: 10px;
  margin-left: 10px;
  align-content: center;
  text-align: center;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0
    rgba(0, 0, 0, 0.2);
}

/* Add some padding inside the card container */
.card-padding {
  margin-top: 10px;
  padding: 2px 16px;
}

form {
  display: flex;
  flex-direction: row;
}

input {
  width: 100%;
  padding: 10px 35px 10px 15px;
  border: none;
  border-radius: 100px;
  outline: none;
}

.search-button {
  background: transparent;
  border: none;
  outline: none;
  margin-left: -33px;
  margin-right: 10px;
}

.search-button img {
  width: 20px;
  height: 20px;
  object-fit: cover;
}

.recent-searches {
  font-size: 20px;
  padding: 1rem;
  text-align: center;
  color: white;
}

h2 {
  font-size: 20px;
  padding: 1rem;
  text-align: start;
  color: whitesmoke;
}

#delete {
  border-radius: 10px;
  background-color: none;
  display: block;
  margin: 1rem auto;
  border: none;
  color: rgb(107, 109, 111);
  padding: 8px;
}

li {
  list-style-type: none;
}

@media only screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left {
    margin-left: 15px;
    margin-right: 10px;
    width: 90%;
    margin-bottom: 15px;
    color: whitesmoke;
  }

  .right {
    margin-left: 5px;
    width: 100%;
  }

  .weather-container-left {
    margin-left: 50px;
  }

  .weather-container-right {
    margin-right: 50px;
  }
}

@media only screen and (max-width: 320px) {
  .container {
    flex-direction: column;
  }

  header {
    font-size: small;
  }

  .left {
    margin-left: 10px;
    margin-right: 10px;
    width: 75%;
    margin-bottom: 15px;
  }

  .right {
    margin-left: 5px;
    margin-right: 10px;
    width: 120%;
  }

  .weather-container-left {
    margin-left: 0%;
  }

  .weather-container-right {
    margin-left: -50px;
  }
}
